# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Some stuff from https://github.com/oVirt/ovirt-engine-sdk-ruby/blob/master/.gitignore
*.class
*.iml
*.rpm
*.so
*.tar.gz
.bash_history
.idea/
exported-artifacts/
sdk/doc/
sdk/pkg/
settings.xml
target/

# Go codegen outputs
sdk/readers/*/*.go
sdk/services/*/*.go
sdk/types/*/*.go
sdk/writers/*/*.go

# Eclipse stuff
.project
.settings/
.classpath
generator/bin/
